a{

font-family: inherit;
color: inherit;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.visually-hidden{
    position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
}

body{
    font-family: Montserrat;

}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    
    
}



main{
    background-color: #ebf6fa;
}
.side-bar-info{
    padding: 40px;
}
.section:not(:last-child){
    margin-right: 88px;
}

.side-bar{
    max-width: 370px;
   
}

.side-bar__img {
    margin-bottom: 50px;
  
  
}

.side-bar-info__title{
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;

        margin-bottom: 8px;
}

.list {
    list-style: none;
    margin: 0;
        padding: 0;
}

.side-bar-info__section:not(:last-child){
    margin-bottom: 45px;
}

.side-bar__list-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
}
.list-item__span{
color: #7f8388;
}

.side-bar__list{
    padding-left: 18px;
}

.side-bar__list-item:not(:last-child){
    margin-bottom: 8px;
}


.description__title {
    margin-bottom: 25px;
    text-align: center;

}

.description__name{

        font-weight: 700;
        font-size: 45px;
        line-height: 1.22;

        margin-bottom: 10px;
}
.description__prof{
        font-weight: 700;
        font-size: 14px;
        line-height: 1.21;
}

.description__info {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.description__summary {
   
        font-weight: 700;
        font-size: 22px;
        line-height: 1.22;

        margin-bottom: 8px;
}

.description__list-item:not(:last-child){
    margin-bottom: 10px;
}
.description__list-item-about {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
}

.description__list-item-span{
    font-weight: bold;
}

.description-info__about{
    margin-bottom: 50px;
}

.description__text {
    margin-bottom: 20px;
}

.description__text-title {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.description__text-year {
    display: block;
    
}